<section id="character_list">
    <div class="table-responsive panel">
        <div class="panel-heading">
            <h1>Character List</h1>
        </div>
        <table class="table table-striped" ng-controller="CharacterCtrl">
            <tr>
                <th>
                    <a href="?name=asc" class="asc" ng-click="sort('name')" sort>Name</a>
                </th>
                <th>
                    <a href="?house=asc" ng-click="sort('house')" sort>House</a>
                </th>
                <th>
                    <a href="?actor=asc" ng-click="sort('actor')" sort>Actor</a>
                </th>
                <th>
                    <a href="?quote=asc" ng-click="sort('quote')" sort>Quote</a>
                </th>
                <th>
                    <a href="?eposides=asc" ng-click="sort('episodes')" sort>Episodes</a>
                </th>
            </tr>
            <tr ng-repeat="character in characters | orderBy:predicate:reverse">
                <td>{{character.name}}</td>
                <td>{{character.house}}</td>
                <td>{{character.actor}}</td>
                <td>{{character.quote}}</td>
                <td>{{character.episodes}}</td>
            </tr>
        </table>
    </div>
</section>